
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100%;
    display:flex;
    flex-direction:column;
    width:100%;
    align-items: center;
    justify-content: center;
    height:100vh;
}

textarea{
    font-size:18px;
    resize:none;
    padding:.5rem;
    box-shadow: inset 0 0 1rem .25px;
    outline:0;
}
.btn-container{
    width:100%;
    display:grid;
    grid-template-columns: auto auto;
    border:4px inset red;
}
.btn-container>input{
    padding: 1rem 0;
}
.textarea-form{
    display:flex;
    flex-direction:column;
    width:100%;
    align-items: center;
    justify-content: center;
    /* gap:1rem; */
}
.textarea-list-container>li{
    color:#fff;
    padding:.25rem 1rem;
    border:2px dotted #fff;
    transition:.5s;
    width:100%;
    text-align: center;
    list-style: none;
}
.textarea-list-container>li::marker{
color:#fff;
}
#textarea-top{
    width:100%;
    display:flex;
    flex-direction:row;
    border:3px solid red;
    align-items: start;
    justify-content: center;

}
.textarea-list-container>li:hover{
    color:#000;
    border:2px dotted #000;
    background:ghostwhite;
    cursor:pointer;
}
#textarea-top{
    min-height:200px;
    max-height:200px;
}
.textarea-list-container{
    border:3px double pink;
    gap:.15rem;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: start;
    justify-content: space-evenly;
    list-style-type: auto;

}
.instructions{
width:100%;
bordeR: 3px solid purple;
height:100%;
background:rgba(173, 255, 247, 0.72);
}
#textarea-container{
    /* position:absolute; */
    background:#333;
    border: 8px outset lime;
    z-index:999;
    /* top:100px;
    left:100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}