<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.1/purify.min.js" integrity="sha512-PBUtfPzExa/FxBEi6tr884CPkb9Wh0kjchdWPECubdH16+G0JjkGQHgWCO7zgINZlXtmVnpII7KnZctAPUAZWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="UTF-8" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
      integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://kit.fontawesome.com/4026a653d4.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>notes App</title>
  </head>
  <body>
    <div id="wrapper" class="starter-focus">
      <!--notes area-->
      <div id="textarea-container" class="hidden">
        <div id="textarea-top">
          <ol class="textarea-list-container"></ol>
        </div>

        <!-- text area -->
        <form
          class="textarea-form"
          action="/delete"
          method="POST"
          id="delete"
        ></form>
        <form class="textarea-form" action="/note" method="POST">
          <textarea
            id="textarea"
            name="notes"
            cols="50"
            rows="5"
            wrap="physical"
          ></textarea>
          <div class="btn-container">
            <input type="reset" value="Clear" id="clear" />
            <input type="submit" value="Post" class="post" />
            <input
              type="submit"
              value="Clear Notes"
              form="delete"
              class="delete"
            />
          </div>
        </form>
      </div>
    </div>
  </body>

  <script type="module" src="main.js"></script>
</html>
