*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100%;
    display:flex;
    flex-direction:column;
    width:100%;
    align-items: center;
    justify-content: center;
    height:100vh;
}

textarea{
    font-size:18px;
    resize:none;
    padding:.5rem;
    box-shadow: inset 0 0 1rem .25px;
    outline:0;
    background-image: url('notepad.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    /* line-height:1.40rem; */
    text-align:none;
    line-height: 1.5;
    padding: 0 0 0 4.75rem; 
    /* indent */
}
.btn-container{
    width:100%;
    display:grid;
    grid-template-columns: auto auto auto;
    /* border:4px inset red; */
}
.btn-container>input{
    padding: 1rem 0;
}
.textarea-form{
    transition:.25s;
    display:flex;
    flex-direction:column;
    width:100%;
    align-items: center;
    justify-content: center;
    /* gap:1rem; */
}
.textarea-list-container>li>button{
    height:25px;
    width:25px;
    background:Red;
    border:4px solid pink;
    margin:0 .5rem 0 1rem;
    transition:.25s;
}
.textarea-list-container>li>button:hover{
    cursor:pointer;
    background:pink;
    border:4px solid red;
    transition:.5s;
}
.textarea-list-container>li{
    color:#fff;
    transition:25s;
    padding:.25rem 0;
    border:2px double #fff;
    transition:.5s;
    width:100%;
    transition:.25s;
    max-width: 500px;
    min-width:100px;
    display:flex;
    font-size:20px;
    align-items: center;
    justify-content: space-between;
    padding:.5rem 1rem;
    flex-wrap:wrap;
    margin: 0 1rem;
    text-align: center;
    list-style: none;
}
.textarea-list-container>li::marker{
color:#fff;
}
#textarea-top{
    width:100%;
    display:flex;
    flex-direction:row;
    /* border:3px solid red; */
    align-items: start;
    justify-content: center;

}
.textarea-list-container>li:hover{
    color:#000;
    border:none;
    background:ghostwhite;
    cursor:pointer;
}
#textarea-top{
    min-height:0px;
    max-height:25vh;
    z-index:997;
    overflow-x:scroll;
    transition:.25s;
}

.textarea-list-container{
    transition:.25s;
    /* border:3px double pink; */
    overflow-x:hidden;
    z-index:998;
    gap:1rem;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;

}
.hide-item{
    opacity:0;
}
.show-item{
    opacity:1;
}


#textarea-container{
    transition:.25s;
    /* position:absolute; */
    background:#333;
    border: 8px outset lime;
    z-index:999;
    /* top:100px;
    left:100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}