*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: Arial, Helvetica, sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  
body{
    width:100%;
    display:flex;
    flex-direction:column;
    width:100%;
    align-items: center;
    justify-content: center;
    height:100vh;
}

textarea{
     height:300px;   
    font-size:18px;
    resize:none;
    padding:.5rem;
    box-shadow: inset 0 0 1rem .25px;
    outline:0;
    background-image: url('notepad.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    /* line-height:1.40rem; */
    text-align:none;
    line-height: 1.5;
    padding: 0 0 0 4.75rem; 
    /* indent */
}
.btn-container{
    width:100%;
    display:grid;
    grid-template-columns: auto auto auto;
    /* border:4px inset red; */
}
.btn-container>input{
    padding: 1rem 0;
    background:ghostwhite;
    border:none;
    box-shadow: 0 0 4px .8px #333;
    height:50px;
    color:#000;
    font-size:18px;
    font-weight:bold;
}
.textarea-form{
    transition:.25s;
    display:flex;
    flex-direction:column;
    width:100%;
    align-items: center;
    justify-content: center;
    /* gap:1rem; */
}
.textarea-list-container>li>button{
    height:100%;
    width:25px;
    background:Red;
    border:none;
    transition:.25s;
    position: absolute;
    right:0;
    bottom:0;
    height:25px;
}
.textarea-list-container>li>button:hover{
    cursor:pointer;
    background:pink;
    transition:.5s;

}
.textarea-list-container>li{
    color:#fff;
    border-bottom: .5px solid #fff;
    position: relative;
    overflow:hidden;
    transition:.5s;
    width:100%;
    transition:.25s;
    max-width:100%;
    min-width:100px;
    display:flex;
    font-size:16px;
    align-items: center;
    justify-content: space-between;
    padding:2.5rem .75rem 1rem 1.5rem;
    flex-wrap:wrap;
    text-align: start;
    list-style: none;
    z-index: 998;
}
.textarea-list-container>li::marker{
color:#fff;
}
#textarea-top{
    width:100%;
    display:flex;
    flex-direction:row;
    /* border:3px solid red; */
    align-items: start;
    justify-content: center;
    overflow-x:hidden;
    position:relative;
}
.textarea-list-container>li:hover{
    color:#000;
    background:ghostwhite;
}
#textarea-top{
    min-height:0px;
    max-height:25vh;
    z-index:997;
    overflow-x:scroll;
    transition:.25s;
}

.textarea-list-container{
    transition:.25s;
    /* border:3px double pink; */
    overflow-x:hidden;
    overflow-y:scroll;
    z-index:998;
    gap:.35rem;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;

}
.hide-item{
    opacity:0;
}
.show-item{
    opacity:1;
}


#textarea-container{
    transition:.25s;
    /* position:absolute; */
    background:#333;
    border: 8px outset lime;
    z-index:999;
    /* top:100px;
    left:100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.drag-elem{
    position:absolute;
    left:-10px;
    top:-10px;
    transform:scale(1.25);
    color:#fff;
    background:blue;
    padding:1rem;
    z-index:999;
    transition: .5s;
    background:transparent;
}
.drag-li:hover{
    cursor:pointer;
}
.bar-glow{
color:#333;
}
@media screen and (max-width:500px) and (max-height:950px){
    #textarea-container{
        width:100%;
    }
    textarea{
        width:100%;
    }
    body{
        justify-content: start;
    }
}

@media screen and (max-height:500px) and (max-width:950px){
    #textarea-container{
        width:100%;
    }
    textarea{
        width:100%;
        height:200px;

    }
    body{
        justify-content: start;
    }
    .textarea-list-container>li{
        height: 100%;
    }
}